<div id="descricao">
    <h1>Fala um pouco sobre ti</h1>

    <label for="sobre_ti">Sobre ti</label>

    <textarea
        name="sobre_ti"
        id="sobre_ti"
        maxlength="1000"
        placeholder="Escreve algo sobre ti…"
    ></textarea>

    <nav class="anterior-proximo">
        {% if modo_edicao %}
            <a data-etapa="#editar-perfil" data-sem-validar="true" class="anterior">
                Voltar à lista
            </a>

            <button type="submit" class="proximo guardar-secao">Guardar e sair</button>
        {% else %}
            <a data-etapa="#contactos" class="anterior">
                Anterior
            </a>

            <a data-etapa="#fotos" class="proximo">
                Próximo
            </a>
        {% endif %}
    </nav>
</div>
