<div id="sexo">
    <h1>Qual é o teu género?</h1>

    <div class="campo-genero">
        <label for="genero">Género</label>

        <select name="genero" id="genero" required>
            <option value="M">
                Masculino
            </option>

            <option value="F">
                Feminino
            </option>

            <option value="P">
                Personalizado
            </option>
        </select>
    </div>

    <nav class="anterior-proximo">
        {% if modo_edicao %}
            <a data-etapa="#editar-perfil" data-sem-validar="true" class="anterior">
                Voltar à lista
            </a>

            <button type="submit" class="proximo guardar-secao">Guardar e sair</button>
        {% else %}
            <a data-etapa="#nascimento" class="anterior">
                Anterior
            </a>

            <a data-etapa="#gostos" class="proximo">
                Próximo
            </a>
        {% endif %}
    </nav>
</div>
