/config/config.local.php
/config/config.local.php.*

/public/imagens/fotos-perfil/*
!/public/imagens/fotos-perfil/.gitkeep
!/public/imagens/fotos-perfil/default.webp
!/public/imagens/fotos-perfil/douradinho.webp
!/public/imagens/fotos-perfil/tiago.webp

/public/imagens/fotos-perfil-originais/*
!/public/imagens/fotos-perfil-originais/.gitkeep

/public/imagens/fotos-perfil-temp/*
!/public/imagens/fotos-perfil-temp/.gitkeep

/public/media/mensagens/*
!/public/media/mensagens/.gitkeep
!/public/media/mensagens/.htaccess

/var/*
!/var/.gitkeep
node_modules/
