@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html, body {
    overflow: scroll;
}

form {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

form > div {
    width: 100%;
    height: 50%;
    margin-top: -30%;
    margin-left: 200%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

form > div > h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Alfa Slab One';
}

form > div > p {
    width: 80%;
    font-size: 1em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start; 
}

form > div > p > label {
    font-weight: bold;
}

form > div > p > input {
    width: 100%;
    font-size: 1.2em;
    padding: 10px 0px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #888888;
}

form > div > p > input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid red;
}

form > div > nav.anterior-proximo {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

form > div > nav.anterior-proximo > a.proximo {
    margin: 5px 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 35px;
}

form > div > nav.anterior-proximo > a.anterior {
    margin: 5px 10px;
    color: black;
}

form > div#nome > a {
    align-self: flex-end;
}

form > div#nascimento > nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

form > div#nascimento > nav.anterior-proximo {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

form > div#nascimento > nav > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

form > div#nascimento > nav > div > label {
    font-weight: bold;
    margin-bottom: 10px;
}

form > div#nascimento > nav > div > input {
    width: 50%;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 35px;
    border: 1px solid #888888;
}

form > div#nascimento > nav > div > select {
    font-size: 1.2em;
    border-radius: 35px;
    padding: 10px;
    border: 1px solid #888888;
}

form > div#sexo > div {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

form > div#sexo > div > label {
    margin-right: 10px;
}

form > div#sexo > div > select {
    font-size: 1.2em;
    border-radius: 35px;
    padding: 5px;
    border: 1px solid #888888;
}

form > div#gostos > p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

form > div#gostos > p > input[type="text"] {
    width: 70%;
    padding: 5px;
}

form > div#gostos > p > input[type="text"]:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid red;
}

form > div#gostos > p > input[type="button"] {
    font-size: 0.8em;
    width: 20%;
    padding: 5px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 35px;
}

form > div#gostos > div#recomendacoes {
    display: none;
    width: 80%;
    height: 60%;
    margin: 15px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05),
                0px 0px 12px rgba(0, 0, 0, 0.08),
                0px 0px 24px rgba(0, 0, 0, 0.1);
}

form > div#gostos > div#recomendacoes > ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 10px 10px 10px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

form > div#gostos > div#recomendacoes > ul > li {
    padding-left: 10px;
    width: calc(100% - 10px);
    flex: 0 0 35px;
}

form > div#gostos > div#recomendacoes> ul > li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

form > div#gostos > div#recomendacoes > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    color: black;

}

form > div#gostos > div#meus-gostos {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

form > div#gostos > div#meus-gostos > p {
    padding: 10px 20px;
    background-color: #dddddd;
    border-radius: 35px;
    margin: 10px;
}

form > div#contactos > p > input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #888888;
}

form > div#contactos > p > input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid red;
}

form > div#descricao > label {
    margin-left: 10vw;
    margin-bottom: 10px;
    align-self: flex-start;
}

form > div#descricao > textarea {
    font-family: Helvetica, sans-serif;
    width: 90vw;
    height: 45vw;
    border: 1px solid #dddddd;
}

form > div#palavra-passe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

form > div#palavra-passe > p {
    width: 80%;
    font-size: 1em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start; 
}

form > div#palavra-passe > p#mostrar-password > label {
    margin-right: 10px;
}

form > div#palavra-passe > p > input {
    width: 100%;
    font-size: 1.2em;
    padding: 10px 0px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #888888;
}

form > div#palavra-passe > p#mostrar-password {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

form > div#palavra-passe > p#mostrar-password > input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

form > div#palavra-passe > p > input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid red;
}