@charset "UTF-8";

form {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

form > div {
    width: 100%;
    height: 100%;
}

form > div#nome > p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; 
}