@charset "UTF-8";

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main > form {
    width: 85vw;
    height: 60vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main > form > p {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main > form > p.em-linha {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

main > form > p > label {
    width: 100%;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 10px;
}

main > form > p > input {
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #888888;
}

main > form > p.em-linha > input {
    width: 15px;
    height: 15px;
}

main > form > p > input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #888888;
}