@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

main {
    width: 100vw;
    height: 50vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main > form {
    width: 85%;
    height: 50%;
    margin-top: -25%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

main > form > h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Alfa Slab One';
}

main > form > p {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main > form > p.em-linha {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

main > form > p > label {
    width: 100%;
    font-weight: bold;
    font-size: 0.8em;
}

main > form > p > input {
    width: 100%;
    font-size: 1.2em;
    padding: 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid #888888;
}

main > form > p.em-linha {
    margin: 5px 0px;
}

main > form > p.em-linha > input {
    width: 15px;
    height: 15px;
}

main > form > p.em-linha > label {
    width: 50%;
}

main > form > p > input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #888888;
}

main > form > input[type="submit"] {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: red;
    color: white;
    align-self: flex-end;
    border: none;
}

aside {
    width: 100vw;
    height: 20vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

aside > a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

aside > a#esqueci-palavra-passe {
    color: rgb(66, 66, 247);
}

aside > a#registar {
    color: rgb(181, 181, 28);
}