<div id="nome">
    <h1>Como te chamas?</h1>
    <p>
        <label for="primeiro_nome">Primeiro Nome</label>
        <input type="text" name="primeiro_nome" id="primeiro_nome" required>
    </p>
    <p>
        <label for="ultimo_nome">Último Nome</label>
        <input type="text" name="ultimo_nome" id="ultimo_nome" required>
    </p>

    <nav class="anterior-proximo">
        <a id="#nascimento" class="proximo">Próximo</a>
    </nav>
</div>
<div id="nascimento">
    <h1>Quando nasceste?</h1>
    <nav>
        <div>
            <label for="dia">Dia</label>
            <input type="number" name="dia" id="dia" required>
        </div>
        <div>
            <label for="mes">Mês</label>
            <select id="mes" name="mes" required>
                <option value="01">Janeiro</option>
                <option value="02">Fevereiro</option>
                <option value="03">Março</option>
                <option value="04">Abril</option>
                <option value="05">Maio</option>
                <option value="06">Junho</option>
                <option value="07">Julho</option>
                <option value="08">Agosto</option>
                <option value="09">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        </div>
        <div>
            <label for="ano">Ano</label>
            <input type="number" name="ano" id="ano" required>
        </div>
    </nav>
    <nav class="anterior-proximo">
        <a id="#nome">Anterior</a>
        <a id="#sexo" class="proximo">Próximo</a>
    </nav>
</div>
<div id="sexo">
    <h1>Qual o teu género?</h1>
    <div>
        <label for="genero">Género</label>
        <select name="genero" id="genero">
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="P">Personalizado</option>
        </select>
    </div>

    <nav class="anterior-proximo">
        <a id="#nascimento">Anterior</a>
        <a id="#gostos" class="proximo">Próximo</a>
    </nav>
</div>
<div id="gostos">
    <h1>O que gostas de fazer?</h1>
    <p><input type="text" name="hobbie" id="hobbie"><input type="button" id="adicionar-gosto" value="Adicionar">
    <div id="recomendacoes">
        <ul id="lista">

        </ul>
    </div>
    <div id="meus-gostos">

    </div>

    <nav class="anterior-proximo">
        <a id="#sexo">Anterior</a>
        <a id="#contactos" class="proximo">Próximo</a>
    </nav>
    
</div>
<div id="contactos">
    <h1>Contactos</h1>
    <p><label for="telefone">Qual é o teu número de telefone? </label><input type="tel" name="telefone" id="telefone"></p>
    <p><label for="email">E o teu email?</label><input type="email" name="email" id="email"></p>

    <nav class="anterior-proximo">
        <a id="#gostos">Anterior</a>
        <a id="#descricao" class="proximo">Próximo</a>
    </nav>
</div>
<div id="descricao">
    <h1>Fala sobre ti</h1>
    <label for="sobre-ti">Sobre ti</label>
    <textarea name="sobre_ti" id="sobre-ti"></textarea>
    <nav class="anterior-proximo">
        <a id="#contactos">Anterior</a>
        <a id="#palavra-passe" class="proximo">Próximo</a>
    </nav>
</div>
<div id="palavra-passe">
    <h1>Cria a tua palavra-passe</h1>
    <p>
        <label for="password">Palavra-passe</label>
        <input type="password" name="password" id="password">
    </p>
    <p>
        <label for="password-confirma">Confirma a palavra-passe</label>
        <input type="password" name="confirma_password" id="confirma-password">
    </p>
    <p id="mostrar-password">
        <input type="checkbox" name="ver_password" id="ver-password"><label for="ver-password">Mostrar palavra-passe</label>
    </p>
    <nav class="anterior-proximo">
        <a id="#descricao">Anterior</a>
        <a id="#criar-conta" class="proximo">Próximo</a>
    </nav>
</div>
<div id="criar-conta">
    <h1>Tudo feito!</h1>
    <input type="submit" value="Criar Conta">
    <nav class="anterior-proximo">
        <a id="#palavra-passe">Anterior</a>
    </nav>
</div>