{% extends 'layout.html' %}
{% block content %}

<canvas id="gridCanvas">

</canvas>

<footer id="menuPrincipal">
    <nav>
        <ul>
            <li><img src="{{ doc_root }}imagens/icones-menu/home.png" alt=""></li>
            <li><img src="{{ doc_root }}imagens/icones-menu/messages.png" alt=""></li>
            <li><img src="{{ doc_root }}imagens/icones-menu/user.png" alt=""></li>
        </ul>
    </nav>
</footer>

<script src="{{ doc_root }}js/jquery-4.0.0.js"></script>
<script src="{{ doc_root }}js/index-posicao.js?v=1"></script>
<script src="{{ doc_root }}js/websocket.js?v=1"></script>
<script src="{{ doc_root }}js/index-animacao.js?v=1"></script>
{% endblock %}