<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="{{ doc_root }}estilos/style.css">
</head>
<body>
    {% block content %} {% endblock %}
    <footer id="menuPrincipal">
        <nav>
            <ul>
                <li>Encontrar</li>
                <li>Mensagens</li>
                <li>Perfil</li>
            </ul>
        </nav>
    </footer>
</body>
</html>