{% extends 'layout.html' %}
{% block title %} {{ membro.nome }} {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ doc_root }}estilos/profile-delete.css">
{% endblock %}
{% block content %}
<main id="profile-delete">
    <section id="apagar">
        {% if sent == false %}
            <!--<input type="file" name="message" id="message" value="{{ message }}">-->
            <h1>Apagar Perfil</h1>
            <section class="dados" id="dados-apagar">
                <p>Confirma para apagares o teu perfil</p>
                <img src="{{ doc_root }}imagens/fotos-perfil/{{ membro.fotos[0]['nome_arquivo'] }}" alt="Foto de perfil de {{ membro.primeiro_nome }}" id="foto-perfil">
            </section>
            <section class="opcoes" id="opcoes-apagar">
                <form action="{{ doc_root }}profile-delete/{{ membro.id }}" method="post">
                    <a href="{{ doc_root }}edit-profile/{{ membro.id }}">Cancelar</a>
                    <input type="hidden" name="delete" value="1">
                    <input type="submit" value="Confirmar">
                </form>
            </section>
            {% else %}
                <p>Foi-te enviado um email para confirmares que desejas apagar a tua conta</p>
            {% endif %}
    </section>
</main>
{% endblock %}
