{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ doc_root }}estilos/settings.css">
{% endblock %}
{% block content %}
    <main>
        <nav>
            <h1>Definições</h1>
            <ul>
                <li><img src="{{ doc_root }}imagens/icones/user.png" alt="Ícone de utilizador"> Informações Pessoais e Permissões</li>
                <li><img src="{{ doc_root }}imagens/icones/block.png" alt=""> Utilizadores Bloqueados</li>
            </ul>
        </nav>
    </main>
{% endblock %}