{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ doc_root }}estilos/settings.css">
{% endblock %}

{% block content %}
    <main>
        <h1>Definições</h1>
        <nav>
            <ul>
                <li><a href="{{ doc_root }}create-account?editar=1"><img src="{{ doc_root }}imagens/icones/user.png" alt="Ícone de utilizador"> Informações Pessoais e Permissões</a></li>
                <li><a href="{{ doc_root }}blocked-users"><img src="{{ doc_root }}imagens/icones/block.png" alt=""> Utilizadores Bloqueados</a></li>
                <li><a href="{{ doc_root }}support"><img src="{{ doc_root }}images/icones/support.ong" alt="">Contactar o Suporte</a></li>
            </ul>
        </nav>
    </main>
{% endblock %}